In [16]:
import pandas as pd

In [30]:
pd.read_excel(r'C:\Users\Sujit\Desktop\Book1.xlsx')

  Unnamed: 0 Unnamed: 1 Unnamed: 2
0       name      data0   passwprd
1      Sujit          5          5
2      sujit          5          5
3      sujit          5          5
4      sujit          5          5
5      sujit          5          5
6      sujit          5          5

In [32]:
pd.read_excel(r'C:\Users\Sujit\Desktop\Sujit.xlsx')

,Sr.no,Name of Student,Name Of Organization,With Permission or Without Permission,Dates Of Absent,Any Other Reasion For Absent
0,1,Sujit Sambhajirao Kendre,IIM Krishi Manthan,With Permission,28/12/2019 To 29-12//2019,NaN
1,2,Anil laxman chavan,IIM Krishi Manthan,With Permission,28/12/2019 To 29-12//2019,NaN
2,3,mahesh Tathe,IIM Krishi Manthan,With Permission,28/12/2019 To 29-12//2019,NaN
3,Big Bazaar,NaN,NaN,NaN,NaN,NaN
4,1,Ram Vijay Tangade,Big Bazaar,With Permission,21/01/2020 To 26/01/2020,NaN
5,2,Sujit Sambhajirao Kendre,Big Bazaar,With Permission,21/01/2020 To 26/01/2020,NaN
6,3,Anil Laxman Chavan,Big Bazaar,With Permission,21/01/2020 To 26/01/2020,NaN
7,4,Mahesh Tathe,Big Bazaar,With Permission,21/01/2020 To 26/01/2020,NaN
8,5,shreyash Dayma,Big Bazaar,With Permission,21/01/2020 To 26/01/2020,NaN